# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs and outputs
*.log

# Output data and intermediate artifacts
/data/*
!/data/README.md

# Models and checkpoints
/models/*
!/models/README.md

# Compiled files
*.so
*.out

# Secrets and configs
*.env
*.key
*.pem
*.pkl

notes.txt
